<div ng-include="'/templates/header.html'"></div>
<br><br><br>
<p>This minimalistic app expects resources/data.json to have valid json representations of the charts requested by the chart directive by chart id.
Once the data is pulled the app instantiates charts on thumb or normal mode, on thumb click the route for the normal graph displated is called.</p>

  <ul>
    <li>thumb mode has no interactions.</li>
    <li>normal mode has user interactions and animations enabled.</li>
  </ul>

<p>TODO:</p>
  <ul>
    <li>Establish a better way to mediate with backend resources / pull chart data</li>
    <li>Elaborate a clarer way to pass Ids from routes to directives.</li>
    <li>Unit test components</li>
    <li>Improve UI/UX design</li>
  </ul>

<p>To run the app:</p>
<ul>
  <li>clone the repo</li>
  <li>run "npm install"</li>
  <li>run "bower install"</li>
  <li>run grunt server</li>
</ul>
<br>
<br>
<a href="/#/">Back</a>
